<!DOCTYPE html>
<html>
  <head>
    <title>INCF GSOC selection list</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>First list of selected projects</h1>

    {% for team in teams1 %}
    <p>{{ team }}</p>
    {% endfor %}

    <h1>Second list of selected projects</h1>

    {% for team in teams2 %}
    <p>{{ team }}</p>
    {% endfor %}

    <h1>Third list of selected projects</h1>

    {% for team in teams3 %}
    <p>{{ team }}</p>
    {% endfor %}
  </body>
</html>
